<link rel="stylesheet" href="css/signup.css">
<div class="container">
  <h2 class="text-center">Sign Up</h2>
  <fieldset>
    <form name='signUpForm' novalidate>
      <input type="text" name="firstname" placeholder="First name"
        ng-model="signUpCtrl.firstname" required>
      <span ng-if="signUpForm.firstname.$error.required
        && signUpForm.firstname.$touched">
        Must specify first name
      </span><br>

      <input type="text" name="lastname" placeholder="Last name"
        ng-model="signUpCtrl.lastname" required>
      <span ng-if="signUpForm.lastname.$error.required
        && signUpForm.lastname.$touched">
        Must specify last name
      </span><br>

      <input type="email" name="email" placeholder="E-mail"
        ng-model="signUpCtrl.email" required>
      <span ng-if="signUpForm.email.$invalid
        && signUpForm.email.$touched">
        Must specify a valid email address
      </span><br>

      <input type="text" name="phone" placeholder="Phone ###-###-####"
        ng-model="signUpCtrl.phone" pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="signUpForm.phone.$invalid
        && signUpForm.phone.$touched">
        Must specify phone number in the format ###-###-####
      </span><br>

      <input type="text" name="favoritedish" placeholder="Favorite dish"
        ng-model="signUpCtrl.favoritedish" required>
      <span ng-if="signUpForm.favoritedish.$error.required
        && signUpForm.favoritedish.$touched">
        Must specify a favorite dish
      </span><br>

      <button ng-disabled="signUpForm.$invalid"
        ng-click="signUpCtrl.submit()">Submit</button>
    </form>
  </fieldset>

  <div ng-if="signUpCtrl.submitted">Your information has been saved</div>
  <div ng-if="signUpCtrl.error">No such menu number exists</div>

</div>
