* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

h1 {
  font-family: 'Macondo', cursive;
}

div {
  float: right;
  color: darkgrey;
  padding: 10px;
}

#chicken {
  background-color: azure;
}

#beef {
  background-color: rgb(197, 255, 208);
}

#sushi {
  background-color: #ffc1aa;
}

section {
  float: left;
  background-color: blanchedalmond;
  color: darkgoldenrod;
  padding: 5px;
  border: 5px solid white;
}

/* Desktop */
@media (min-width: 992px) {
  .col-desktop-3 {
    width: 33.33%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-12 {
    width: 100%;
  }
  .col-tablet-6 {
    width: 50%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .col-mobile-12 {
    width: 100%;
  }
}
